@import '../../globals/globals.css';

.navbar-container {
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-bottom: 0.5rem;
}

.navbar-container a {
    color: black;
}

a.nav-active {
    color: var(--red);
    border-bottom: 1px solid var(--red);
}

#userMenuBtn {
    background: none;
    border: none;
    position: relative;
}

#userMenuBtn svg {
    color: black;
}

.user-menu {
    position: absolute;
    right: 0;
    top: 3rem;
    border-top: 2px solid black;
    width: 10rem;
    background-color: white;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#logoutBtn {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(0.5rem, 5vw, 1rem)
}

#logoutBtn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 450px) {
    .navbar-container {
        justify-content: center;
    }
}