@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

body button:hover {
  cursor: pointer;
}

body input {
  font-family: 'Raleway', sans-serif;
}

