@import '../../globals/globals.css';

.landing-nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: clamp(5rem, 10vw, 8rem);
    position: relative;
    margin-bottom: 3rem;
}

#lexemeIcon {
    height: 100%;
    width: clamp(5rem, 10vw, 8rem);
}

.landing-lexeme-title {
    font-size: clamp(3rem, 10vw, 4rem);
    color: var(--red);
}

.landing-lexeme-title span {
    color: black;
}

#loginButton {
    width: clamp(8rem, 10vw, 10rem);
    min-height: 2rem;
    position: absolute;
    right: 1rem;
    background: none;
    font-size: clamp(0.5rem, 10vw, 1.5rem);
    border: 2px solid var(--red);
    color: black;
    border-radius: 20px;
    padding: 0.5rem;
}

#loginButton:hover {
    background-color: var(--red);
    color: white;
}

.landing-intro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.landing-intro-container hr {
    flex-basis: 100%;
    border: none;
}

.triangle {
    width: 5rem;
    height: 10rem;
    background-color: var(--red);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    margin-top: -1rem;
    margin-right: 1rem;
}

.tag-line {
    border-top: 1rem solid var(--red);
    width: max-content;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.tag-line-text {
    font-size: clamp(2rem, 10vw, 3rem);
}

.intro-description {
    font-size: clamp(0.75rem, 10vw, 1.5rem);
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 2rem;
}

#getStartedButton {
    width: clamp(15rem, 10vw, 20rem);
    min-height: 2.5rem;
    background-color: black;
    font-size: clamp(1rem, 10vw, 2rem);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border: 2px solid black;
}

#getStartedButton:hover {
    background-color: white;
    color: black;
}

#learnMoreIcon {
    color: var(--red)
}

.landing-graphic {
    width: clamp(10rem, 28vw, 30rem);
    height: clamp(10rem, 28vw, 30rem);
    position: absolute;
    bottom: 0;
    z-index: -1;
}

#graphicOne {
    left: 0;
}

#graphicTwo {
    right: 0;
}


/* Media Queries*/
@media only screen and (max-width: 450px) {
    #loginButton {
        position: static;
        margin-left: 1rem;
    }
}

