@import '../../globals/globals.css';

.alert-close-btn {
    color: var(--red);
    position: absolute;
    top: 3px;
    right: 1px;
    background: none;
    border: none;
}

.alert-box-content {
    font-size: clamp(0.95rem, 5vw, 1.25rem);
    text-align: center;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.alert-box-subject {
    color: var(--red);
}

.alert-box-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.alert-action-btn {
    background: none;
    border: 1px solid var(--red);
    color: var(--red);
    padding: 0.5rem;
    font-size: clamp(0.75rem, 5vw, 1rem);
    border-radius: 5px;
}

.alert-action-btn:hover {
    background-color: var(--red);
    border: 1px solid var(--red);
    color: white;
    padding: 0.5rem;
    font-size: clamp(0.75rem, 5vw, 1rem);
    border-radius: 5px;
}