@import '../../globals/globals.css';

.popup-box-title {
    font-size: clamp(1rem, 5vw, 1.5rem);
    padding: 0.5rem;
    background-color: var(--red);
    color: white;
}

.popup-box-title span {
    vertical-align: middle;
    font-size: clamp(0.75rem, 5vw, 1rem);
    padding-left: 0.5rem;
    padding-right: 0.25rem;
}

.items-title {
    font-weight: bold;
    font-size: clamp(0.75rem, 5vw, 1rem);
}

.items-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 30rem;
    padding: 0.75rem;
    overflow-y: auto;
}

.part-of-speech-title {
    font-size: clamp(1rem, 5vw, 1.25rem);
    font-weight: bold;
}

.definition-options {
    border: 2px solid var(--red);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-size: clamp(0.75rem, 5vw, 1rem);
}

input[type="checkbox"] {
    appearance: none;
    background-color: white;
    margin: 0;
    font-size: inherit;
    color: black;
    min-width: 1rem;
    height: 1rem;
    border: 1px solid black;
    display: grid;
    place-content: center;
    transform: translateY(0.075rem);
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

input[type="checkbox"]:disabled {
    border: 1px solid gray;
}

input[type="checkbox"]:disabled:hover {
    cursor: default;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem white;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked {
    border: 1px solid var(--red);
    background-color: var(--red);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.item-info-section {
    border-bottom: 2px dotted var(--red);
    padding-bottom: 0.5rem;
}

.definition-section, .item-info-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.definition-selection {
    display: flex;
    gap: 0.5rem;
}

.definition-selection label {
    width: fit-content;
}

.add-item-container {
    background-color: var(--red);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.add-item-container button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 0.5rem;
    font-size: clamp(0.75rem, 5vw, 1rem);
    border-radius: 5px;
}

.add-item-container button:hover {
    background-color: white;
    color: var(--red);
}

.add-item-container button:disabled {
    cursor: auto;
    background-color: var(--red);
    color: white;
}

.book-res-container {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    border-bottom: solid 2px var(--red);
    font-size: clamp(0.75rem, 5vw, 1rem);
}

.book-res-container img {
    height: fit-content;
}

.book-res-container:last-child {
    border: none;
}

.book-res-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0.5rem;
    border-left: dotted 2px var(--red);
}

.book-res-title {
    font-weight: bold;
}

.book-res-description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    overflow: hidden;
}

.favorite-btn-popup {
    padding-block: 0;
    background: none;
    border: none;
    color: white;
    vertical-align: middle;
}

.favorite-btn-popup:disabled {
    cursor: auto;
}

.existing-word-popup-btn {
    padding: 0;
    margin-top: 0.5rem;
    background: none;
    border: none;
    font-size: clamp(0.5rem, 5vw, 0.75rem);
    color: white;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-block: 0;
}

.existing-word-popup-btn:disabled {
    cursor: auto;
}

#deleteConfirmation {
    border: 1px solid var(--red);
    max-width: 30rem;
    padding: 1rem;
    text-align: center;
}

#deleteConfirmation span {
    color: var(--red);
}