@import '../../globals/globals.css';

* {
    box-sizing: border-box;
}

.signup-container {
    margin: auto;
    background-color: white;
    border: 2px solid var(--red);
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    max-width: 40rem;
    height: max-content;
}

.create-account {
    font-size: clamp(1.5rem, 5vw, 2rem);
    padding: 1rem;
    text-align: center;
    background-color: var(--red);
    color: white;
}

#closeBtn {
    color: white;
    position:absolute;
    top: 3px;
    right: 1px;
    background: none;
    border: none;
}

#signupForm {
    display: grid;
    padding: 2rem;
}

#signupForm label {
    margin-bottom: 0.25rem;
    font-size: 1rem;
}

#signupForm input {
    margin-bottom: 1rem;
    height: 1.75rem;
    padding: 0.25rem;
    font-size: 0.75rem;
    border: 1px solid var(--red);
}

 #signupForm input:focus {
    outline: none;
    border-bottom: 2px solid var(--red);
}

#showPassword, #hidePassword {
    background: none;
    border: none;
    display: flex;
}

#passwordLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup-search-container {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#signupForm #currentBookInput {
    flex-basis: 100%;
    margin-bottom: 0;
}

#signupForm #signupButton {
    background: none;
    font-size: 1rem;
    max-width: 15rem;
    justify-self: center;
    padding: 0.5rem;
    border-radius: 10px;
    height: max-content;
    cursor: pointer;
    margin: 0;
}

#signupForm #signupButton:hover {
    background-color: var(--red);
    color: white;
}

#signupSearch {
    border: 1px solid black;
    background: none;
    display: flex;
    align-items: center;
}